.email-form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

  .error-message {
    color: red;
    font-size: 0.7em;
    white-space: normal; 
    overflow-wrap: break-word;
}