.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em;
    border-left: 1px solid grey;
}

.download-container {
    display: flex;
    gap: 1em;
}