.container {
    display: flex;
    align-items: center;
    padding: 2em;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.download-container {
    display: flex;
    gap: 1em;
}