.wifi-form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.checkbox-container {
  display: flex;
  gap: 0.5em;
  color: lightgrey;
}

  .error-message {
    color: red;
    font-size: 0.7em;
    white-space: normal; 
    overflow-wrap: break-word;
}
