.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content-and-qr-code-container {
    display: flex;
    /* align-items: center; */
    border-radius: 0.5em;
    border: 1px solid grey;
}

.content-container {
    padding: 2em;
}



