.phoneNumber-form-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  
  .phone-number-container {
    display: flex;
    align-items: flex-end;
    gap: 2em;
    }
    
  .component-with-error-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1; 
  }
    
  .error-message {
    color: red;
    /* max-width: 200px; */
    white-space: normal; 
    overflow-wrap: break-word;
  }