.event-form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.date-container {
  display: flex;
  align-items: flex-end;
  color: lightgrey;
  gap: 0.5em;
}
  .error-message {
    color: red;
    font-size: 0.7em;
    white-space: normal; 
    overflow-wrap: break-word;
}

